.intro {
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
    color: #e0f7fa;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
  }
  
  .intro h2 {
    font-size: 28px;
    color: #320DE7;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: black;
    text-align: left;
  }
  